# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset files
data/*.tsv
data/*.csv

# Hugging Face Transformers cache
transformers_cache/
cache/
*.pt
*.bin
*.h5

# Logs and temporary files
*.log
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
